@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.extra {
    margin-top: 20px;
}

body {
    background-color: #EDF0F1;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

.myhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #008BFF;
}

.nav_links {
    list-styles: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: white;
}

.nav_links li a:hover {
    color: rgb(51, 238, 76);
}

.right_nav a button {
    padding: 9px 25px;
    background: rgba(36, 37, 42, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.right_nav button:hover {
    background-color: rgb(51, 238, 76);
}

.navbar_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weblinks {
    display: inline-flex;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    background: #008BFF;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.weblinks:hover {
    background-color: rgb(51, 238, 76);
}

.button_text_,
.button_icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}

.button_icon {
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.08);
}

.dash_but {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.train-top {
    background-image: url("Training.jpeg");
    background-size: cover; 
    height: 500px;
    padding-top:0;
}

.train-header h1 {
    justify-content: center;
    display: flex;
    line-height: 16;
    font-size: 2.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: black;
}

.training-list li a {
    font-size: 1.15em;
    list-style: none;
    line-height: 2;
    text-decoration: none;
    color: #404040;
}

.side li {
    color: #404040;
    text-decoration: none;
    list-style: none;
}

.extra {
    background-image: url("Home\ Screen.jpeg");
    height: 1000px;
    background-size: cover;
    padding-top: 0;
}

.video {
    justify-content: center;
    display: flex;
}

.quiz_but {
    padding: 30px 10%;
    justify-content: center;
    display: flex;
}

.questions {
    padding: 30px 10%;
    display: flex;
}

.question h2 {
    color: #404040;
    font-family: "Montserrat", sans-serif;
}

.answer li {
    color: #404040;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

.block {
    padding: 30px 10%;
}

.employee_table {
    width: 100%;
    table-layout: fixed;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 25px 0;
    border-radius: 10px;
}

.employee_table thead tr {
    background-color: #3f3f3f;
    color: #ffffff;
    text-align: left;
    height: 2.5em;
}

.employee_table thead tr th {
    padding: 10px;
}

.employee_table tbody tr td {
    padding: 10px;
}

.employee_table tbody tr:last-of-type {
    border-bottom: 2px solid #3f3f3f;
}

