{% extends "layout.html" %}
{% block content %}
    <h1>Welcome Coastal Employee!</h1>
    <p>Look below to get started!</p>
    <nav class="home_nav">
        <ul class="weblinks">
            <li><a href="https://app.qbo.intuit.com/app/login?loadCustomerAssistanceAssets=us" target="_blank"><button id="quick">QuickBooks</button></a></li>
            <li><a href="ms-excel:ofe|u|file:///Users/samlutz10/Downloads/printform.xlsx"><button id="excel">Excel</button></a></li>
            <li><a href="https://www.sitefotos.com/index/login/utype/1" target="_blank"><button id="site">SiteFotos</button></a></li>
        </ul>
    </nav>
    <nav class="weblinks">
        
    </nav>
{% endblock content %}