<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />

    {% if title %}
        <title>Voyager Management - {{ title }}</title>
    {% else %}
        <title>Voyager Management</title>
    {% endif %}
    
</head>
<body>

    <header>
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="logo" width="80px" height="80px" />
    
        <nav class="navbar">
            <ul class="nav_links">
                <li><a href="/home">Home</a></li>
                <li><a href="/training_hub">Training Hub</a></li>
            </ul>
        </nav>
        <div>
            <ul class="right">
                <li><a class="cta" href="/login"><button>Login</button></a></li>
                <li><a class="cta" href="/register"><button>Register</button></a></li>
            </ul>
        </div>
    </header>
    
    
    <div class="block">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>