@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #008BFF;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-styles: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088A9;
}

.right li a button {
    padding: 9px 25px;
    background: rgba(36, 37, 42, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.right button:hover {
    background-color: rgba(36, 37, 42, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weblinks {
    list-styles: none;
}

.weblinks li {
    display: inline-block;
    padding: 0px 20px;
}

.weblinks li a {
    transition: all 0.3s ease 0s;
}

.weblink li a {
    color: black;
}

.weblinks li a button {
    padding: 9px 25px;
    background: rgb(51, 238, 76);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.weblinks button:hover {
    background-color: rgba(255, 255, 255, 0);
}









.extra {
    padding: 30px 10%;
}
